configuration {
    modi: "window,drun,ssh,filebrowser,combi,emoji,calc";
    font: "FiraCode Nerd Font 14";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{icon} {name}";
    display-drun: "Applications:";
    display-window: "Windows:";
}

//@theme "/home/david/.config/rofi/theme"
//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"
@theme "/usr/share/rofi/themes/android_notification.rasi"
